@model BestMovies.Models.Movies
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<ul>
    <li><b>Genre:</b> @Model.Genre.Name</li>
    <li><b>Release Date:</b> @Model.ReleaseDate</li>
    <li><b>Date Added:</b> @Model.Added</li>
    <li><b>Number in Stock:</b> @Model.NumberInStock</li>
</ul>

